* {
    box-sizing:  border-box;
    font-family: sans-serif;
}

html, body {
    font-size: $fontSmall;
    height:    100%;
    margin:    0 auto;
    padding:   2%;
    
    @include small {
        font-size: $fontMedium;
    }
    
    @include medium {
        font-size: $fontLarge;
    }
}

main {
    border:   1px solid black;
    height:   80%;
    overflow: auto;
}
