* {
    box-sizing:  border-box;
    font-family: sans-serif;
}

html, body {
    font-size: 10px;
    height:    100%;
    margin:    0 auto;
    padding:   2%;
    
    @include small {
        font-size: 12px;
    }
    
    @include medium {
        font-size: 16px;
    }
}

main {
    border:   1px solid black;
    height:   80%;
    overflow: auto;
}
