.listing {
    border:   1px solid black;
    overflow: hidden;
    width:    100%;
    
    .image {
        background-color: grey;
        float:            left;
        margin-right:     20px;
        height:           85px;
        width:            20%;
        
        @include medium {
            height: 130px
        }
       
        img {
            height:    auto;
            position:  relative;
            top:       50%;
            transform: translateY(-50%);
            width:     100%;
        }
    }
    
    .container {
        margin-left: 20%;
        
        .center {
            display: block;
        }
        
        .left {
            margin-right: 20px;
        }
        
        @include medium {
            text-align: center;
            
            .left {
                float: left;
            }
            .right {
                float: right;
            }
            .center {
                display: inline-block;
                margin: 0 auto;
            }
        }
        
        @include large {
            width: 70%;
        }
    }
}


