.post {
    padding: 10px;
    
    .title {
        display: inline-block;
        width: 70%;
        
        @include medium {
            width: 85%;
        }
    }
    
    .image {
        float: left;
        margin-right: 20px;
    }
    
    .back {
        background-color: white;
        border:           1px solid black;
        float:            right;
        margin-left:      20px;
        padding:          0 10px 0 5px;
        position:         relative;
        text-decoration:  none;
    
        &:before,
        &:after {
            border-color: transparent black transparent transparent;
            border-style: solid;
            border-width: $fontSmall - 1 10px $fontSmall - 1 0;
            content:      "";
            position:     absolute;
            top:          0;
            left:         -11px;
            
            @include small {
                border-width: $fontMedium - 1 10px $fontMedium - 1 0;
            }
            
            @include medium {
                border-width: $fontLarge - 1 10px $fontLarge - 2 0;
            }
        }
    
        &:after {
            border-color: transparent white transparent transparent;
            left:         -10px;
        }
    }
    .tag {
        margin-right: 10px;
    }
}