<article class="listing" data-ng-repeat="item in feed | filter:searchText">
    <section class="image">
        <a data-ng-href="/post/{{ $index }}">
            <img data-ng-src="{{ item.image }}" />
        </a>
    </section>
    <section class="details">
        <h2>
            <a data-ng-href="/post/{{ $index }}">{{ item.title | limitTo: limiter }}</a>
            <span data-ng-if="item.title.length > limiter">...</span>
        </h2>
        <p class="container">
            <span class="center">Published: {{ item.published }}</span>
            <a class="left"  data-ng-href="{{ item.authorLink }}">{{ item.author }}</a>
            <a class="right" data-ng-href="{{ item.link }}">View on Flickr</a>
        </p>
    </section>
</article>
<article class="loadMore" data-ng-if="!loading">
    <button data-ng-click="addToFeed()">Load More</button>
</article>
