<article class="post" data-ng-cloak>
    <header>
        <h2>
            <a class="title" data-ng-href="{{ item.link }}">{{ item.title }}</a>
            <a href="/" class="back">Back</a>
        </h2>
        <p>
            <a data-ng-href="{{ item.authorLink }}">{{ item.author }}</a>
            |
            Published: {{ item.published }}
        </p>
    </header>
    <section class="image">
        <img data-ng-src="{{ item.image }}" />
    </section>
    <section class="details">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel neque laoreet, sagittis dui in, auctor erat. Morbi gravida ullamcorper ligula, iaculis ultricies eros rutrum at. Sed non rhoncus odio, ac facilisis est. Ut faucibus efficitur nulla a tristique. Aenean ultricies eget augue vitae dictum. Donec eleifend, risus nec mollis elementum, risus ligula dictum quam, eget dignissim sapien purus eget felis. Duis cursus neque vel tortor tempus elementum. Suspendisse porta velit porta dui iaculis sodales. Nulla eu risus justo. Donec ut egestas nunc. Praesent vestibulum lorem velit, egestas vulputate erat auctor vel. Vestibulum lobortis mauris accumsan sollicitudin ultrices. Donec venenatis nunc laoreet, mattis diam mattis, dignissim elit. Morbi justo lorem, fringilla non tortor ultrices, luctus aliquam enim. Donec vulputate ex sed lacus auctor interdum. Maecenas est dui, feugiat at lacus ac, aliquam volutpat tortor.</p>
        <br>
        <strong>Tags:</strong>
        <span class="tag" data-ng-repeat="tag in item.tags">{{ tag }}</span>
    </section>
</article>
